.product-list-container {
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px; /* Bordes redondeados para el contenedor */
    margin: 20px;
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.product-list-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.product-list-table thead th {
    background-color: #007bff; /* Color de fondo para los encabezados */
    color: white;
    padding: 15px; /* Mayor padding para un mejor aspecto */
    text-align: left;
    border-bottom: 2px solid #0056b3; /* Borde más oscuro para definir mejor los encabezados */
}

.product-list-table td, .product-list-table th {
    padding: 12px; /* Uniformidad en el padding */
    border-bottom: 1px solid #ddd;
}

.product-list-table tr:hover {
    background-color: #f8f9fa; /* Resalta la fila al pasar el mouse */
}

/* Estilos para botones dentro de la tabla */
button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Efecto hover para botones */
}

.edit-btn {
    background-color: #28a745;
}

.edit-btn:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

.add-new-btn {
    background-color: #4CAF50; /* Color uniforme para botones de añadir */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.add-new-btn:hover {
    background-color: #45A049; /* Efecto hover más oscuro */
}
