.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 230px);
    background-color: #eeeeee;
}

.register-form {
    padding: 40px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-form h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.register-form input {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.register-form button {
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #0056b3;
}

.register-form a {
    color: #007bff;
    text-align: center;
    display: block;
    margin-top: 20px;
}
